.noteattemptcardvisible {
  display: block;
}
.noteattemptcardinvisible {
  display: none;
}
.answertextvisible {
  display: block;
}
.answertextinvisible {
  visibility: hidden;
}
.startdivvisible {
  display: block;
}
.startdivinvisible {
  display: none;
}
